<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <style>
        pre {
            font-family: "Arial", sans-serif;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1><%= details.name %></h1>
    </div>
    <p>
        <div class="box">
            <h3>Allgemeine Informationen</h3>
            <table style="border: none; width: 80%; box-shadow: none;">
                <tbody>
                        <tr style="background-color: transparent;">
                            <td style="background-color: white; border: none; color: black; width: 200px;">ID:</td>
                            <td style="background-color: white; border: none; color: black;"><%= details.complexid %></td>
                        </tr>
                        <tr style="background-color: transparent;">
                            <td style="background-color: white; border: none; color: black;">Synonyme:</td>
                            <td style="background-color: white; border: none; color: black;"><%= details.synonym %></td>
                        </tr>
                        <tr style="background-color: transparent;">
                            <td style="background-color: white; border: none; color: black;">Organismus:</td>
                            <td style="background-color: white; border: none; color: black;"><%= details.organismus %></td>
                        </tr>
                        <tr style="background-color: transparent;">
                            <td style="background-color: white; border: none; color: black;">Zellinie/Gewebe:</td>
                            <td style="background-color: white; border: none; color: black;"><%= details.cell_line %></td>
                        </tr>
                </tbody>
            </table>
        </div>
        <div class="box">
            <h3>Untereinheiten</h3>
            <span id="subname" style="display: none;"><%= details.subname %></span>
            <span id="swissorganismus" style="display: none;"><%= details.swissorganismus %></span>
            <span id="gen" style="display: none;"><%= details.gen %></span>
            <span id="gen_synonym" style="display: none;"><%= details.gen_synonym %></span>
            <span id="uniprot_id" style="display: none;"><%= details.uniprot_id %></span>
            <span id="entrez_id" style="display: none;"><%= details.entrez_id %></span>
                <table id="Untereinheiten" border="1">
                    <thead>
                        <tr>
                        <th>Name</th>
                        <th>Organismus</th>
                        <th>Gen</th>
                        <th>Gen Synonym</th>
                        <th>UniProt ID</th>
                        <th>Entrez ID</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- Dynamisch generierte Zeilen werden hier eingefügt -->
                    </tbody>
                </table>
        </div>
        <div class="box">
            <h3>Funktionen</h3>
            <p>FunCat ID: <%= details.funcat_id %></p>
            <p>FunCat Beschreibung: <%= details.fundescription %></p>
            <p>GO ID: <%= details.go_id %></p>
            <p>GO Beschreibung: <%= details.godescription %></p>
        </div>
        <div class="box">
            <h3>Referenzen</h3>
            <table style="border: none; width: 100%; box-shadow: none;">
                <tbody>
                        <tr style="background-color: transparent;">
                            <td style="background-color: white; border: none; color: black; width: 300px;">Aufreinigung Methode</td>
                            <td style="background-color: white; border: none; color: black;"><%= details.purification %></td>
                        </tr>
                        <tr style="background-color: transparent;">
                            <td style="background-color: white; border: none; color: black;">Komplex Kommentar</td>
                            <td style="background-color: white; border: none; color: black;"><%= details.complex_comment %></td>
                        </tr>
                        <tr style="background-color: transparent;">
                            <td style="background-color: white; border: none; color: black;">Krankheit Kommentar</td>
                            <td style="background-color: white; border: none; color: black;"><%= details.disease_comment %></td>
                        </tr>
                        <tr style="background-color: transparent;">
                            <td style="background-color: white; border: none; color: black;">Untereinheiten Kommentar</td>
                            <td style="background-color: white; border: none; color: black;"><%= details.sub_comment %></td>
                        </tr>
                        <tr style="background-color: transparent;">
                            <td style="background-color: white; border: none; color: black;">PubMed ID</td>
                            <td style="background-color: white; border: none; color: black;"><a href="https://pubmed.ncbi.nlm.nih.gov/<%= details.pubmed_id %>/"><%= details.pubmed_id %></a></td>
                        </tr>
                </tbody>
            </table>
        </div>
    </p>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            //<%= details.subname %> <%= details.swissorganismus %> <%= details.gen %>
            const names = document.getElementById("subname").innerText.split(';');
            const organism = document.getElementById("swissorganismus").innerText.split(';');
            const genes = document.getElementById("gen").innerText.split(';');
            const genessyn = document.getElementById("gen_synonym").innerText.split(';');
            const uniprot = document.getElementById("uniprot_id").innerText.split(';');
            const entrez = document.getElementById("entrez_id").innerText.split(';');

            // Tabelle und tbody-Elemente abrufen
            const table = document.getElementById("Untereinheiten");
            const tbody = table.querySelector("tbody");

            for (let i = 0; i < names.length; i++) {
                const row = document.createElement("tr");

                const nameCell = document.createElement("td");
                nameCell.textContent = names[i].trim(); // Leerzeichen entfernen
                row.appendChild(nameCell);

                const organismCell = document.createElement("td");
                organismCell.textContent = organism[i].trim(); // Leerzeichen entfernen
                row.appendChild(organismCell);

                const genesCell = document.createElement("td");
                genesCell.textContent = genes[i].trim(); // Leerzeichen entfernen
                row.appendChild(genesCell);

                const genessynCell = document.createElement("td");
                genessynCell.textContent = genessyn[i].trim(); // Leerzeichen entfernen
                row.appendChild(genessynCell);

                const uniprotCell = document.createElement("td");
                uniprotCell.textContent = uniprot[i].trim(); // Leerzeichen entfernen
                row.appendChild(uniprotCell);

                const entrezCell = document.createElement("td");
                entrezCell.textContent = entrez[i].trim(); // Leerzeichen entfernen
                row.appendChild(entrezCell);

                tbody.appendChild(row);
            }
        });
    </script>
</body>
</html>