<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="box">
        <h1>Details für Proteinkomplex: <%= details.name %></h1>
    </div>
    <p>
        <div class="box">
            <h3>Allgemeine Informationen</h3>
            <p>ID: <%= details.complexid %></p>
            <p>Synonyme: <%= details.synonym %></p>
            <p>Organismus: <%= details.organismus %></p>
            <p>Zelllinie/Gewebe: <%= details.cell_line %></p>
        </div>
        <div class="box">
            <h3>Untereinheiten</h3>
            <p>Name der Untereinheiten: <%= details.subname %></p>
            <p>SWISSPROT Organismus: <%= details.swissorganismus %></p>
            <p>Gen: <%= details.gen %></p>
            <p>gen_syn: <%= details.gen_synonym %></p>
            <p>UniProt ID: <%= details.uniprot_id %></p>
            <p>Entrez ID: <%= details.entrez_id %></p>
        </div>
        <div class="box">
            <h3>Funktionen</h3>
            <p>FunCat ID: <%= details.funcat_id %></p>
            <p>FunCat Beschreibung: <%= details.fundescription %></p>
            <p>GO ID: <%= details.go_id %></p>
            <p>GO Beschreibung: <%= details.godescription %></p>
        </div>
        <div class="box">
            <h3>Referenzen</h3>
            <p>Aufreinigung Methode: <%= details.purification %></p>
            <p>Komplex Kommentar: <%= details.complex_comment %></p>
            <p>Krankheit Kommentar: <%= details.disease_comment %></p>
            <p>Untereinheiten Kommentar: <%= details.sub_comment %></p>
            <p>PubMed ID:<a href="https://pubmed.ncbi.nlm.nih.gov/<%= details.pubmed_id %>/"><%= details.pubmed_id %></a></p>
        </div>
    </p>
</body>
</html>