<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="box">
        <h1>Proteinkomplexe</h1>
    </div>
    <p>
        <div id="results"></div>
        <div class="container">
            <div class="searchbar">
                <form id="searchForm" action="/search" method="get" style="display: flex;">
                    <input type="text" id="searchInput" name="q" placeholder="Suche nach Complex ID/Proteinkomplex/Organismus..." value="<%= query %>" style="width: 300px;">
                    <button type="submit">Suchen</button>
                </form>
            </div>
            <table id="complexinfo">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Synonym</th>
                        <th>Organismus</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    <% if (results.length > 0) { %>
                        <% results.forEach(function(item) { %>
                            <tr>
                                <td><%= item.complexid %></td>
                                <td><a href="/entries/<%= item.complexid %>"><%= item.name %></a></td>
                                <td><%= item.synonym %></td>
                                <td><%= item.organismus %></td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="5">No results found.</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <div id="pagination" class="pagination button">
                <% if (totalPages > 1) { %>
                    <% if (page > 1) { %>
                        <a href="/search?q=<%= query %>&page=<%= page - 1 %>">&laquo; Vorherige Seite </a>
                    <% } %>
                    <span> Page <%= page %> of <%= totalPages %> </span>
                    <% if (page < totalPages) { %>
                        <a href="/search?q=<%= query %>&page=<%= page + 1 %>"> Nächste Seite &raquo;</a>
                    <% } %>
                <% } %>
            </div>
        </div>
    </p>
</body>
</html>