<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="box">
        <h1>Proteinkomplexe</h1>
        </div>
        <p>
            <div class="container">
                <table id="complexinfo">
                    <thead>
                        <tr>
                            <th>ID</th><th>Name</th><th>Synonym</th><th>Organismus</th><th>Zelllinie</th>
                        </tr>    
                    </thead>
                    <tbody id="table-body">
                        <% complexinfo.forEach(function(item) { %>
                            <tr>
                                <td><%= item.complexid %></td>
                                <td><%= item.name %></td>
                                <td><%= item.synonym %></td>
                                <td><%= item.organismus %></td>
                                <td><%= item.cell_line %></td>
                            </tr>
                        <% }); %>   
                    </tbody>
                </table>
                <div class="pagination button">
                    <button onclick="prevPage()">Vorherige Seite</button>
                    <button onclick="nextPage()">Nächste Seite</button>
                </div>
            </div>
        </p>
        <script>
            let currentPage = 1;
            const rowsPerPage = 10;
        
            function displayTablePage(page) {
                const tableBody = document.getElementById('table-body');
                const rows = tableBody.getElementsByTagName('tr');
                const totalRows = rows.length;
                const totalPages = Math.ceil(totalRows / rowsPerPage);
        
                if (page < 1) page = 1;
                if (page > totalPages) page = totalPages;
        
                for (let i = 0; i < totalRows; i++) {
                    rows[i].style.display = 'none';
                }
        
                for (let i = (page - 1) * rowsPerPage; i < (page * rowsPerPage) && i < totalRows; i++) {
                    rows[i].style.display = '';
                }
        
                currentPage = page;
            }
        
            function prevPage() {
                if (currentPage > 1) {
                    displayTablePage(currentPage - 1);
                }
            }
        
            function nextPage() {
                const tableBody = document.getElementById('table-body');
                const rows = tableBody.getElementsByTagName('tr');
                const totalRows = rows.length;
                const totalPages = Math.ceil(totalRows / rowsPerPage);
        
                if (currentPage < totalPages) {
                    displayTablePage(currentPage + 1);
                }
            }
        
            window.onload = function() {
                displayTablePage(currentPage);
            };
        </script>
    </body>
</html>