<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Proteinkomplexe</h1>
        <p>
            <table id="complexinfo">
                <tr>
                    <th>Complex ID</th><th>Name</th><th>Synonym</th><th>Organismus</th><th>Zelllinie</th><th>Untereinheit ID</th><th>Funktion ID</th><th>Publiktation ID</th>
                </tr>
                <% for (const Proteinkomplex of complexinfo) { %>
                <tr>
                    <td><%= Proteinkomplex.complexid %></td>
                    <td><%= Proteinkomplex.name %></td>
                    <td><%= Proteinkomplex.synonym %></td>
                    <td><%= Proteinkomplex.organismus %></td>
                    <td><%= Proteinkomplex.cell_line %></td>
                    <td><%= Proteinkomplex.sub_id %></td>
                    <td><%= Proteinkomplex.fun_id %></td>
                    <td><%= Proteinkomplex.pub_id %></td>
                </tr>
            <% } %>
            </table>
        </p>
    </body>
</html>